x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  #image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:2.10.5}
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    # _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-clickhouse-connect duckdb minio mlflow boto3 pandas sqlalchemy requests}
  volumes:
    - ${AIRFLOW_PROJ_DIR:-.}/dags:/opt/airflow/dags
    - ${AIRFLOW_PROJ_DIR:-.}/logs:/opt/airflow/logs
    - ${AIRFLOW_PROJ_DIR:-.}/config:/opt/airflow/config
    - ${AIRFLOW_PROJ_DIR:-.}/plugins:/opt/airflow/plugins
  user: "${AIRFLOW_UID:-50000}:0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  # ---------- PostgreSQL (Airflow) ----------
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    ports:
      - "5432:5432"

  # ---------- PostgreSQL DWH (основное хранилище проекта) ----------
  postgres_dwh:
    image: postgres:14
    environment:
      POSTGRES_USER: gold_user
      POSTGRES_PASSWORD: gold_pass
      POSTGRES_DB: gold_db
    ports:
      - "5433:5432"
    restart: always
    volumes:
      - postgres_dwh_data:/var/lib/postgresql/data

  # ---------- Redis ----------
  redis:
    image: redis:7.2-bookworm
    expose:
      - 6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 50
      start_period: 30s
    restart: always

  # ---------- MinIO ----------
  minio:
    image: minio/minio:RELEASE.2023-07-07T07-13-57Z
    restart: always
    volumes:
      - ./data:/data
    environment:
      - MINIO_ROOT_USER=minio
      - MINIO_ROOT_PASSWORD=minio123
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"

  # ---------- ClickHouse ----------
  clickhouse:
    image: clickhouse/clickhouse-server:23.8
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9004:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse

  # ---------- MLflow ----------
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.8.1
    container_name: mlflow
    environment:
      BACKEND_STORE_URI: postgresql://gold_user:gold_pass@postgres_dwh:5432/gold_db
      ARTIFACT_ROOT: s3://mlflow/
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio123
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    ports:
      - "5000:5000"
    depends_on:
      - postgres_dwh
      - minio

  # ---------- Apache Superset (BI) ----------
  superset:
    image: apache/superset:2.1.0
    container_name: superset
    environment:
      - SUPERSET_SECRET_KEY=supersetsecretkey
      - DATABASE_URL=postgresql://gold_user:gold_pass@postgres_dwh/gold_db
    ports:
      - "8088:8088"
    depends_on:
      - clickhouse
      - postgres_dwh
    volumes:
      - superset_home:/app/superset_home

  # ---------- Streamlit (frontend ML/аналитика) ----------
  streamlit:
    build: ./streamlit
    container_name: streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./streamlit:/app
    depends_on:
      - postgres_dwh
      - clickhouse
      - minio
    environment:
      - POSTGRES_URL=postgresql://gold_user:gold_pass@postgres_dwh:5432/gold_db
      - CLICKHOUSE_URL=http://clickhouse:8123
      - MINIO_URL=http://minio:9000
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=minio123
      - MLFLOW_TRACKING_URI=http://mlflow:5000


  # ---------- Airflow (все компоненты) ----------
  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8081:8080"
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-worker:
    <<: *airflow-common
    command: celery worker
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-triggerer:
    <<: *airflow-common
    command: triggerer
    restart: always
    depends_on:
      <<: *airflow-common-depends-on
      airflow-init:
        condition: service_completed_successfully

  airflow-init:
    <<: *airflow-common
    entrypoint: /bin/bash
    command:
      - -c
      - |
        mkdir -p /sources/logs /sources/dags /sources/plugins
        chown -R "${AIRFLOW_UID}:0" /sources/{logs,dags,plugins}
        exec /entrypoint airflow db init && airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
    environment:
      <<: *airflow-common-env
    user: "0:0"
    volumes:
      - ${AIRFLOW_PROJ_DIR:-.}:/sources

volumes:
  postgres-db-volume:
  postgres_dwh_data:
  clickhouse_data:
  superset_home:
